// 색상
$main-color: #564CAD;
$sub-color: #BAB2FF;
$login-color: #f4e7e3;
$dashboard-color: #fffcfb;
$dashboard-icon-color: #d6a291;
$step-color: #564CAD;
$dark-step-color: #cea193;
$gray-color: #c4c4c4;
$dark-gray-color: #686868;