@media (max-width: 1200px) {
    .hide-content-text {
        display: none;
    }
}

@media (max-width: 850px) {
    .hide-all-panel {
        display: none;
    }
}

.text-primary, .text-danger {
    transition: color 0.5s ease;
  }
  