/* scrollbar.css */

/* 너비 */
::-webkit-scrollbar {
  width: 6px; /* 스크롤바 너비 조절 */
  border-radius: 50%; /* 스크롤바의 border-radius 설정 */
  z-index: -1; /* 스크롤바의 층위를 조정하여 다른 요소 위에 표시되도록 설정 */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px; /* 스크롤바 트랙의 border-radius 설정 */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; /* 스크롤바 핸들의 border-radius 설정 */
  height: 4px;
  width: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* 좌우 여백 설정 */
::-webkit-scrollbar-corner {
  background: transparent; /* 좌우 여백의 배경 설정 */
  width: 5000px; /* 좌우 여백의 너비 조절 */
}
